# === REQUERIDO ===
GROQ_API_KEY=gsk_...
JINA_API_KEY=jina_...
# Generar con python en producción con el comando: python -c "(import secrets; print(secrets.token_hex(32))"
JWT_SECRET=baa33139ca2c38ae5c8ef6840c8f3e852c1496e5d079df9e36a6333515bc2f5a

# === BASE DE DATOS Y MODELO LLM ===
POSTGRES_USER=ragdocs
POSTGRES_PASSWORD=ragdocs123
POSTGRES_DB=ragdocs_db
GROQ_MODEL=llama-3.3-70b-versatile
JWT_EXPIRATION_HOURS=24
